<!-- //page that displays the list of topics to choose from
//page displays after clicking 'pick a topic' from the homepage -->

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>These are our amazing topics! Please pick one.</h1>
  <a href="/topics/index2"><h3>Reorder the list according to the topic's number of comments</h3></a>
  <ul>
    {{#allTopics}}
      <li><a href="/topics/{{id}}">{{title}}  |  Votes: {{vote}}</a></li>
    {{/allTopics}}
  </ul>
  <a href="/topics/new"><h2>OR!, Create a New Topic</h2></a>
</body>
</html>