<!-- //page that displays the list of topics to choose from ordered by number of comments-->

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body background="http://i.imgur.com/S2jrsil.jpg">
<body link="#4b3832" vlink="#4b3832" alink="#ffffff"> 
<h1><font color="white">These are our amazing topics! Please pick one.</font></h1>
  <a href="/topics"><h3>Reorder the list according to the topic's number of votes</h3></a>
  <ul>
    {{#allTopics}}
      <font color="white"><li><a href="/topics/{{id}}">{{title}}</a></li></font>
    {{/allTopics}}
  </ul>
  <a href="/topics/new"><h2>OR!, Create a New Topic</h2></a>
</body>
</html>