<!-- //this is the page that shows one individual topic and it's comments
//this page displays when you click an individual topic link from the list page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show page for topics</title>
</head>
<body>
  <h2>You Selected this Awesome Topic:</h2>

        <h3>{{title}}</h3>
        <p>{{body}}</p>
        <p>Signed, {{author}}</p>

          <form action="/topics/{{id}}?_method=PUT" method="POST">
            <label>
              Like this topic? Vote for it!
                <button type="vote">Vote</button>
            </label>
        </form>
  <h3>Got something to say? Of course you do. Say it below.</h3>
    <form action="/topics/{{id}}/comment" method="POST">
      <label>
        Your 2 Cents:
        <input type="text" name="comments">
          <button type="submit">Submit</button>
      </label><br>
  <h3>And here is everyone else's 2 cents.</h3>
    <ul>
      {{#comments}}
      <li>{{comment}}</li>
      <li>{{location}}</li>
      {{/comments}}
    </ul>
    </form>
    <a href="/topics">Back to Topics List</a>
</body>